.mobile{
    display: none;
}
.mobile-video{
    display: none;
}
.hidden{
    display: none;
}
/* Video */
@media (max-width:1400px){
    .desktop{
        display: none;
    }
    .mobile-video{
        display: block;
    }
    .video-section{
        height: fit-content;
    }
    .video-mobile{
        height: 300px;
        max-width: 80vw;
        margin: auto;
        margin-bottom: 30px;
    }
    .video-descriptions-mobile h1{
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }
    .video-descriptions-mobile p{
        margin-bottom: 30px;
        text-align: center;
    }
    .video-descriptions-mobile{
        text-align: center;
        max-width: 80vw;
        margin: auto;
        margin-top: 30px;
    }
    .btn-video-mobile{
        background-color: #33658A;
        padding-left: 30px;
        width: fit-content;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-top: 30px;
        color: white;
        text-align: center;
        align-items: center;
        border-radius: 10px;
        font-size: 25px; 
        margin-top: 30px;
        margin: auto;
        margin-bottom: 30px;
    }


}
/* Location */
@media(max-width:1100px){
    .location-wrapper{
        display: block;
        width: 80vw;

    }
    .location-card{
        margin: auto;
        margin-bottom: 30px;
        width: 100%;
    }
}
/* Navigation bar */
@media (max-width:1100px){
    .navigation{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobile-nav{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
       /*  margin: auto;
        border: 1px solid black; */
        background-color: lightgrey;
    }
    .mobile-nav ul{
        display: block;
    }
    .close{
        position:absolute;
        right: 20px;
        top: 20px;
        background-color: white;
        padding:10px;
        border-radius: 10px;
        border: 3px solid black;
    }
    .close:hover{
        cursor: pointer;
    }
    .mobile-nav ul li{
        display: block;
        width: 100%;
        margin-left: 20px;
        margin-top: 20px;
        
    }
    .hidden{
        display: none;
    }
    .hamburger{
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 10px;
        border:4px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hamburger:hover{
        cursor: pointer;
    }
    .line{
        width: 26px;
        padding-left: 10px;
        padding-right: 10px;
        height: 7px;
        background-color: #000000;
        margin-left: auto;
        margin-right: auto;

    }
    .middle{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
/* Frequently asked question */
@media (max-width:1300px){
    .faq-row{
        display: block;
    }
    .faq-card{
        margin: auto;
        margin-bottom: 30px;
        width: 70vw;

    }
}
/* Enquiries */
@media(max-width:1400px){
    .enquiries-wrapper{
        border: none;
        -webkit-box-shadow: 0px 0px 0x 0px #000000; 
        box-shadow: 0px 0px 0px 0px #000000;
    }
    .btn-enquiry{
    background-color: #33658A;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: white;
    border-radius: 10px;
    font-size: 25px; 
    margin-top: 30px;
    display: inline-block;
    }
}
/* Footer */
@media(max-width:620px){
    .footer-wrapper{
        display: block;
        margin-left: 30px;
    }
    .footer{
        padding-top: 30px;
        padding-bottom:30px;
    }
}

/* About */
.about-row-medium{
    display: none;
}
@media(max-width:1180px){
    .about-row{
        display: none;
    }
    .about-row-medium{
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
    }
}
@media(max-width:880px){
    .about-row-medium{
        display: none;
    }.about-row{
        display: block;
    }
    .about-card{
        margin: auto;
        margin-bottom: 30px;
    }
}

/* Login */
@media(max-width:1400px){
    .login-wrapper{
        width: 80vw;
    }
}

/* Property images */
@media(max-width:1400px){
    .main-img{
        width: 80vw;
        height: calc(80vw * 0.5);
    }
}

/* Facilities */

@media(max-width:1400px){
    .property-facilities{
        margin:0px;
        padding:0px;
        width: 100vw;
        max-width:100%;
    }
    .facilities-row{
        display: block;
        width: 100vw;
        padding: 0px;
        margin: 0px;
    }
    .facilities-card{
        margin: auto;
        padding: 0px;
        margin-top: 30px;
    }
}
/* book a room */
@media(max-width:1400px){
    .room-container{
        display: block;
        width: 100vw;
    }
    .room-card{
    }
}

/* Booking */
@media(max-width:1400px){
    .booking-container{
        width: 80vw;
        margin: auto;
    }
}

/* Payment */
@media(max-width:1400px){
    .booking1-container{
        width: 80vw;
        margin: auto;
    }
    .booking1-container{
        font-size: 45px;
        
    }
    
    
    .form{
        display: block;
        width:80%;
        margin: auto;
        font-size: 30px;
    }
    .payment-right{
        margin-top: 30px;
        margin-left:0px;
        width: 100%;
    }
    .inner-left, .inner-right{
    }
    .payment-img{
        margin-left: auto;
        width: calc(80% - 10px);

    }
    .payment-left{
        width: 100%;
    }
    .payment-input{
    }
    .payment-row{
        display: block;
    }
    .inner-right{
        margin-left: 0px;
    }
}