.mobile{
    display: none;
}
.mobile-video{
    display: none;
}
/* Video */
@media (max-width:1400px){
    .desktop{
        display: none;
    }
    .mobile-video{
        display: block;
    }
    .video-section{
        height: fit-content;
    }
    .video-mobile{
        height: 300px;
        max-width: 80vw;
        margin: auto;
        margin-bottom: 30px;
    }
    .video-descriptions-mobile h1{
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }
    .video-descriptions-mobile p{
        margin-bottom: 30px;
        text-align: center;
    }
    .video-descriptions-mobile{
        text-align: center;
        max-width: 80vw;
        margin: auto;
        margin-top: 30px;
    }
    .btn-video-mobile{
        background-color: #33658A;
        padding-left: 30px;
        width: fit-content;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-top: 30px;
        color: white;
        text-align: center;
        align-items: center;
        border-radius: 10px;
        font-size: 25px; 
        margin-top: 30px;
        margin: auto;
        margin-bottom: 30px;
    }


}
/* Location */
@media(max-width:1100px){
    .location-wrapper{
        display: block;
        width: 80vw;

    }
    .location-card{
        margin: auto;
        margin-bottom: 30px;
        width: 100%;
    }
}
/* Navigation bar */
@media (max-width:1100px){
    .navigation{
        display: none;
    }
    .mobile{
        display: block;
    }
    .line{

    }
    .hamburger{
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 10px;
        border:4px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hamburger:hover{
        cursor: pointer;
    }
    .line{
        width: 26px;
        padding-left: 10px;
        padding-right: 10px;
        height: 7px;
        background-color: #000000;
        margin-left: auto;
        margin-right: auto;

    }
    .middle{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
/* Frequently asked question */
@media (max-width:1300px){
    .faq-row{
        display: block;
    }
    .faq-card{
        margin: auto;
        margin-bottom: 30px;
        width: 70vw;

    }
}
/* Enquiries */
@media(max-width:1400px){
    .enquiries-wrapper{
        border: none;
        -webkit-box-shadow: 0px 0px 0x 0px #000000; 
        box-shadow: 0px 0px 0px 0px #000000;
    }
    .btn-enquiry{
    background-color: #33658A;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: white;
    border-radius: 10px;
    font-size: 25px; 
    margin-top: 30px;
    display: inline-block;
    }
}
/* Footer */
@media(max-width:620px){
    .footer-wrapper{
        display: block;
        margin-left: 30px;
    }
    .footer{
        padding-top: 30px;
        padding-bottom:30px;
    }
}

/* About */
.about-row-medium{
    display: none;
}
@media(max-width:1180px){
    .about-row{
        display: none;
    }
    .about-row-medium{
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
    }
}
@media(max-width:880px){
    .about-row-medium{
        display: none;
    }.about-row{
        display: block;
    }
    .about-card{
        margin: auto;
        margin-bottom: 30px;
    }
}

/* Login */
@media(max-width:1400px){
    .login-wrapper{
        width: 80vw;
    }
}