
body {
    font-family: 'Montserrat';font-size: 22px;
}
a{
    text-decoration: none;
    color: inherit;
    behavior: smooth;
}
a:hover{
    text-decoration: underline;
}
.btn-video:hover{
}
.btn{
    background-color: #33658A;
    width: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: white;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    font-size: 25px;
    display: inline;
    margin-right: 0px;

}
ul li{
    display: inline;
    margin-right: 30px;

}
ul{
    display: inline;
}
#last{
    margin-right: 0px;
}
.navbar-wrapper{
    height: 150px;
    background-color:#F6AE2D ;
}
.navbar{
    height: 150px;
    display: flex;
    max-width: 1400px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.logo{
    font-size: 30px;
    max-width: 35px;
}

.video-section{
    height: 600px;
}
.video-wrapper{
    height: 530px;
    width: 1400px;
    margin: auto;
    margin-top: 30px;
    display: flex;
}
.video{
    width: 700px;
}
.video-descriptions{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.video-descriptions h1{
    font-size: 60px;
    font-weight: bold;
}
.video-descriptions p{
    font-size: 35px;
    max-width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-video{
    background-color: #33658A;
    padding-left: 30px;
    width: fit-content;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: white;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    font-size: 25px; 
}
.test{
    width: fit-content;
    height: fit-content;
}

.location-section{
    background-color: #E4DDDD;
    height: auto;
    border: 1px sol
}
.location-section h1{
    font-size: 60px;
    font-weight: bold;
    margin-top:40px;
    text-align: center;
}
img{
    width: 100%;
    height: 100%
}
.loc-img{
    height: 200px;
}
.location-wrapper{
    margin: auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
}
.location-card{
    width: 200px;
    border: 5px solid black;
    text-align: center;
    height:auto;
    border-radius: 8px;
    overflow: hidden;
}
.location-card:hover{
    cursor: pointer;
    border: 10px solid #F6AE2D;
}
.location-section h1{
    margin-bottom: 30px;
}
.location-section{
    padding-bottom: 50px;
}
.faq-title{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
}
.faq{
    margin-top: 30px;
    margin-bottom: 30px;
}
.faq-card{
    max-width: 600px;
    background-color: #EDEDED;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
    -webkit-box-shadow: 9px 1px 19px 2px #000000; 
    box-shadow: 9px 1px 19px 2px #000000;
}
.faq-wrapper{
    margin-top: 30px;
    max-width: 1400px;
    margin: auto;
}
.faq-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


.enquiries{
   padding-top: 30px;
}
.enquiries-wrapper{
    max-width: 1400px;
    border: 1px solid black;
    margin: auto;
    margin-bottom: 50px;
    padding-bottom: 50px;
    -webkit-box-shadow: 9px 1px 19px 2px #000000; 
    box-shadow: 9px 1px 19px 2px #000000;
    border-radius: 20px;
}
.enquiries .first{
    text-align: center;
    margin-top: 30px;
}
.enquiries h1{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}
.enquiries-box{
    margin-left: 50px;
    margin-right:50px;
}
.enquiries-row{
    display: flex;
    justify-content: space-between;
}
.btn-enquiry{
    background-color: #33658A;
    padding-left: 30px;
    width: fit-content;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: white;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    font-size: 25px; 
    margin-top: 30px;
}
label{
    display:block;
}
.enquiry-input{
    width: 100%;
    height: 40px;
}
.enquiry-msg{
    width: 100%;
}
.enquiry-name{
    margin-bottom: 30px;
}
textarea{
    display: block;
    width: 100%;
    height: 200px;
}
.footer{
    color: #FFFFFF;
    background-color: #3E3E3E;
    padding-bottom: 40px;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1400px;
}
.footer h1{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 50px;
}


.about{
    padding-top: 40px;
    padding-bottom: 40px;
}
.about-wrapper{
    max-width: 1400px;
    margin: auto;
}
.about-card{
    width: fit-content;
    border-radius: 10px;
    border: 1px solid black;
}
.about-row{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-top: 30px;
}
.about-img{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: black;
}
.about-description{
    margin-bottom: 30px;
    text-align: center;
}
.about .title{
    text-align: center;
    font-size: 60px;
}


.sign-in{
    margin-top: 30px;
    margin-bottom: 30px;
}

.login-wrapper{
    width: fit-content;
    border: 5px solid black;
    
}
.login-wrapper{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom:30px;
    border-radius:10px;
    margin: auto;
    width: 1340px;
}
.login-wrapper h1{
    font-size: 30px;
    margin-bottom: 30px;
}
.login-wrapper input[type=text]{
    width: 100%;
    height: 45px;
    margin-bottom: 30px;
}
.login-wrapper input[type=password]{
    width: 100%;
    height: 45px;
    margin-bottom: 30px;
}
.login-btn{
    background-color: #33658A;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    color: white;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    font-size: 25px; 
    margin-top: 30px;
}
.underline{
    display: inline;
    text-decoration: underline;
}
.profile-wrapper{
    margin: auto;
    max-width: 1400px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#profileh1{
    font-size: 60px;
    font-weight: bold;
}
.profile-img{
    width: 300px;
    height: 300px;
    background-color: black;
}
.profile-card{
display: flex;
margin-bottom: 20px;
}
.profile-description{
    margin-left: 30px;
}
.profile-description h1{
    font-size: 35px;
    font-weight: bold;
}
.profile-description p{
    margin-top: 3px;
    margin-bottom: 10px;
}

.pets-wrapper{
    margin: auto;
    margin-top:80px;
    max-width: 1400px;
}
.pets-wrapper h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
}
.pet-card{
    width: fit-content;
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 35px;
    -webkit-box-shadow: 9px 1px 19px 2px #000000; 
    box-shadow: 9px 1px 19px 2px #000000;
} 
.pet-img{
    width: 250px;
    height: 250px;
    background-color: black;
    margin-bottom: 20px;

}
.pet-card h1{
    font-size: 25px;
    margin-bottom: 0px;
    
}
.pet-row{
    display: flex;
    justify-content: space-evenly;
}
.review-wrapper{
    width: 1400px;
    margin: auto;
    /* display: flex;
    justify-content: space-evenly; */
}
.review-card{
    margin-top: 50px;
    border: 1px solid black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 7px;
    -webkit-box-shadow: 9px 1px 19px 2px #000000; 
    box-shadow: 9px 1px 19px 2px #000000;
    width: fit-content;
}

}
.review-card p{
    width: 300px;
    text-align: center;
    margin-top: 30px;
}
.review-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: blue;
    margin: auto;
}
.reviews .title{
    text-align: center;
    font-size: 60px;

}
.review-card h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}
.star{
    width: 200px;
    height: 75px;
    margin: auto;
}