.mobile{
    display: none;
}
.mobile-video{
    display: none;
}
/* Video */
@media (max-width:1400px){
    .desktop{
        display: none;
    }
    .mobile-video{
        display: block;
    }
    .video-section{
        height: fit-content;
    }
    .video-mobile{
        height: 300px;
        max-width: 80vw;
        margin: auto;
        margin-bottom: 30px;
    }
    .video-descriptions-mobile h1{
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }
    .video-descriptions-mobile p{
        margin-bottom: 30px;
        text-align: center;
    }
    .video-descriptions-mobile{
        text-align: center;
        max-width: 80vw;
        margin: auto;
    }
    .btn-video-mobile{
        background-color: #33658A;
        padding-left: 30px;
        width: fit-content;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-top: 30px;
        color: white;
        text-align: center;
        align-items: center;
        border-radius: 10px;
        font-size: 25px; 
        margin-top: 30px;
        margin: auto;
        margin-bottom: 30px;
    }


}
/* Navigation bar */
@media (max-width:850px){
    .navigation{
        display: none;
    }
    .mobile{
        display: block;
    }
}
/* Frequently asked question */
@media (max-width:1300px){
    .faq-row{
        display: block;
    }
    .faq-card{
        margin: auto;
        margin-bottom: 30px;
        width: 80vw;
    }
}
/* Enquiries */
@media(max-width:1400px){
    .enquiries-wrapper{
        border: none;
    }
    .btn-enquiry{
    background-color: #33658A;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: white;
    border-radius: 10px;
    font-size: 25px; 
    margin-top: 30px;
    display: inline-block;
    }
}
/* Footer */
@media(max-width:620px){
    .footer-wrapper{
        display: block;
        margin-left: 30px;
    }
    .footer{
        padding-top: 30px;
        padding-bottom:30px;
    }
}